.plane-icon {
    position: absolute;
    top: -50px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    animation: movePlane 3s linear infinite;
  }
  
  @keyframes movePlane {
    0% { transform: translateX(-50%) translateY(0); }
    50% { transform: translateX(-50%) translateY(-20px); }
    100% { transform: translateX(-50%) translateY(0); }
  }
  
  .carousel-container {
    position: relative;
  }
  